IB_GEMINI_API=https://generativelanguage.googleapis.com
IB_GEMINI_API_KEY=KEY
IB_GEMINI_MODEL_NAME=gemini-3-flash

IB_OPENROUTER_API=https://openrouter.ai
IB_OPENROUTER_API_KEY=KEY
IB_OPENROUTER_PRIMARY_MODEL=meta-llama/llama-3.3-70b-instruct:free
IB_OPENROUTER_FALLBACK_MODEL=openai/gpt-oss-120b:free

IB_GOOGLE_GENAI_API_KEY=KEY
IB_GOOGLE_GENAI_MODEL="gemma-3-27b-it"

# ollama | openrouter | google
IB_LLM_PROVIDER=openrouter

# piper | xtts
IB_TTS_PROVIDER=xtts
